.app {
	width: 90vw;
	max-width: 700px;
}

.task-list {
	height: 50vh;
	border: solid 1px #ddd;
	.task-item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.checked {
			text-decoration: line-through;
		}

		.task-content {
			flex: 1;
			display: flex;
			gap: 12px;
		}

		.task-control {
			display: flex;
			flex-direction: column;
		}
	}
}
